<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>epay</name>
	<displayName><![CDATA[ePay]]></displayName>
	<version><![CDATA[4.9.6]]></version>
	<description><![CDATA[Accept Dankort, eDankort, VISA, Electron, MasterCard, Maestro, JCB, Diners, AMEX, Nordea and Danske Bank payments by ePay / Payment Solutions]]></description>
	<author><![CDATA[ePay A/S (a Bambora Company)]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>